/* Typographie globale */
body, h1, p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Version légère pour un aspect élégant */
}

/* Style général du conteneur */
.home-container {
    background-color: #FFFFFF; /* Blanc pour un aspect épuré */
    color: #333333; /* Gris foncé pour le texte, plus doux que le noir */
    text-align: center;
    padding-bottom:  20px; /* Plus d'air pour créer un effet de luxe */
}

/* Style des titres principaux */
h1 {
    font-size: 4rem; /* Grand titre pour mettre en valeur ton nom */
    color: #1E90FF; /* Bleu élégant pour le nom */
    margin-bottom: 30px;
    font-weight: 600; /* Texte plus épais pour plus d'impact */
    letter-spacing: 2px; /* Espacement des lettres pour plus de modernité */
}

p {
    font-size: 1.3rem; /* Taille de texte légèrement supérieure pour plus de clarté */
    color: #666666; /* Gris clair pour le texte des paragraphes */
    margin-bottom: 40px;
    line-height: 1.8; /* Espacement généreux pour la lisibilité */
}

/* Boutons d'appel à l'action */
.cta-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajout d'espacement entre les boutons */
}

.btn-primary, .btn-secondary {
    padding: 15px 30px; /* Boutons plus grands et plus espacés */
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 50px; /* Boutons arrondis pour un effet moderne */
    transition: all 0.4s ease; /* Transition douce pour le survol */
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre subtile */
}

.btn-primary {
    background-color: #1E90FF; /* Bleu élégant pour le bouton principal */
    color: white;
}

.btn-primary:hover {
    background-color: #0c74d9; /* Bleu plus foncé au survol */
    transform: translateY(-3px); /* Effet de flottement */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.btn-secondary {
    background-color: transparent; /* Fond transparent pour plus de classe */
    color: #333333; /* Couleur du texte en gris foncé */
    border: 2px solid #333333; /* Bordure subtile pour le bouton secondaire */
}

.btn-secondary:hover {
    background-color: #333333; /* Inversion des couleurs au survol */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* Liens des réseaux sociaux */
.social-links {
    margin-top: 50px;
}

.social-links a img {
    width: 40px;
    margin-right: 20px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Animation de survol */
    filter: grayscale(100%); /* Icônes en gris par défaut */
}

.social-links a:hover img {
    transform: scale(1.15); /* Zoom des icônes au survol */
    filter: grayscale(0%); /* Retrait du filtre au survol */
}




/* Container rond avec effet de glow */
.profile-pic-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: visible;
}

.profile-pic-container .inner {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #0000ff00;
}

.profile-pic-container::before,
.profile-pic-container::after {
    content: ' ';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #99f0d6, #0000ff, #66dbfc, #191970, #9797ff, #0000cd, #347bff, #191970);

    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    z-index: 1;
    animation: steam 60s linear infinite;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.profile-pic-container::after {
    filter: blur(50px);
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    .home-container {
        padding: 10px 10px;
    }

    h1 {
        font-size: 3rem; /* Réduire légèrement la taille du texte sur mobile */
    }

    p {
        font-size: 1.1rem;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .btn-primary, .btn-secondary {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .social-links a img {
        width: 30px;
    }
}