/* navbar.css */

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition */
    max-height: 0; /* Initial state */
    opacity: 0; /* Initial state */
    overflow: hidden; /* Ensure content is hidden when max-height is 0 */
}

.navbar.show {
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
}

/* Other styles remain unchanged */
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #1E90FF;
}

.navbar select {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
}

/* Mobile menu button */
.mobile-menu-button {
    display: block;
    background-color: #5f5f5f; /* Show the button on mobile */
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.overlay {
    display: none;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    margin: 20px 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        display: none; /* Hide navbar by default on mobile */
        position: absolute;
        top: 60px; /* Ajustez cette valeur en fonction de la hauteur de l'overlay */
        width: 100vw;
        padding: 0;
        background-color: #5f5f5f; /* Couleur de fond pour la navbar */
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add transition */
        max-height: 0; /* Initial state */
        opacity: 0; /* Initial state */
        overflow: hidden; /* Ensure content is hidden when max-height is 0 */

    }

    .navbar.show {
        display: flex;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.227);
        max-height: 500px; /* Adjust as needed */
        opacity: 1;
        z-index: 3;
    }

    .navbar ul {
        flex-direction: column;
        margin: 20px 20px;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar select {
        margin-top: 10px;
    }

    .mobile-menu-button {
        display: block;
        background-color: #5f5f5f; /* Show the button on mobile */
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin-left: 10px;
    }

    .overlay {
        display: flex;
        align-items: center; /* Centrer verticalement */
        justify-content: start; /* Espacer les éléments */
        background-color: #333; /* Couleur de fond */
        color: white; /* Couleur du texte */
        width: 100vw;
    }

    .logo {
        font-size: 1.5rem;
        color: #fff;
        margin: 20px 20px;
    }
}