body {
  background-color: #F5F5DC; /* Beige */
  color: #A9A9A9; /* Gris pour le texte */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, h3 {
  color: #1E90FF; /* Bleu pour les titres */
}

a {
  color: #1E90FF; /* Bleu pour les liens */
  text-decoration: none;
}

a:hover {
  color: #A9A9A9; /* Gris pour l'effet hover */
}

button {
  background-color: #1E90FF; /* Bleu pour les boutons */
  color: #FFFFFF; /* Blanc pour le texte des boutons */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #A9A9A9; /* Gris pour l'effet hover des boutons */
}

.section {
  background-color: #FFFFFF; /* Blanc pour certaines sections */
  padding: 20px;
  margin: 20px 0;
}


@media (max-width: 768px) {
  .section {
    padding: 10px;
  }
  
}